<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>hospital</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>sing1</display-name>
    <servlet-name>sing1</servlet-name>
    <servlet-class>sing1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sing1</servlet-name>
    <url-pattern>/sing1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sing2</display-name>
    <servlet-name>sing2</servlet-name>
    <servlet-class>sing2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sing2</servlet-name>
    <url-pattern>/sing2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet</display-name>
    <servlet-name>servlet</servlet-name>
    <servlet-class>servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logindao</display-name>
    <servlet-name>logindao</servlet-name>
    <servlet-class>logindao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logindao</servlet-name>
    <url-pattern>/logindao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addsubject</display-name>
    <servlet-name>addsubject</servlet-name>
    <servlet-class>com.admin.servlet.addsubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addsubject</servlet-name>
    <url-pattern>/addsubject</url-pattern>
  </servlet-mapping>
</web-app>